@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

#toolbar {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 3px 3px;
	gap: 10px;
}
