/* maximize root, body and app */
html,
body,
#app {
	height: 100%;
	width: 100%;
}

#aiQuery {
	/* float top left corner */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5em;
	display: flex;
}
#aiQuery > input {
	/* fill parent */
	flex: 1;
	font-size: 2rem;
}
